<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <form method="POST">
            <input type="text" name="qr_name" placeholder="Enter QR Code Name (optional)">
            <input type="text" name="data" placeholder="Paste link or data here" required>
            <button type="submit">Generate QR Code</button>
        </form>
        {% if qr_img_data %}
        <div class="qr-code">
            <h2>Generated QR Code:</h2>
            <img src="data:image/png;base64,{{ qr_img_data }}" alt="QR Code">
            {% if data %}
            <a href="{{ url_for('download', data=data, qr_name=qr_name if qr_name) }}" class="button" download>Download QR Code</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>
</html>